* {
  padding: 0;
  margin: 0;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#cont-btn button, #cont-btn #counter, #cont-btn, #contain #total-wrap #cont-img, #contain, #header #img-con, #header #logo, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  width: 85%;
  border-bottom: 1px solid rgb(175, 175, 175);
  height: 15vmin;
  flex-direction: row;
  align-items: center;
  z-index: 0;
}
#header #menu {
  display: none;
}
#header #logo {
  font-size: xx-large;
  font-weight: 900;
  width: 20%;
}
#header ul {
  width: 35%;
  display: inline-flex;
  justify-content: space-evenly;
  color: gray;
}
#header ul li {
  list-style: none;
  cursor: pointer;
}
#header ul li:hover {
  color: black;
  -webkit-text-decoration: underline 3px orangered;
          text-decoration: underline 3px orangered;
}
#header #img-con {
  width: 50%;
  justify-content: flex-end;
}
#header #img-con img {
  margin: 0 3%;
  cursor: pointer;
  width: 6%;
}

#opener {
  position: absolute;
  right: 5vmin;
  top: 16vmin;
  width: 30vmin;
  background-color: #fff;
  height: 25vmin;
  border-radius: 1vmin;
  z-index: 1;
  box-shadow: 1px 1px 19px 2px grey;
  display: none;
  align-items: center;
  flex-direction: column;
}
#opener span {
  display: flex;
  height: 30%;
  justify-content: flex-start;
  width: 100%;
  padding-top: 7%;
  font-size: large;
  margin-left: 10%;
}
#opener #loader {
  border-top: 0.5px solid grey;
  height: 100%;
  width: 100%;
  color: grey;
  display: none;
  place-items: center;
  grid-template-areas: " tn p2 dl" " bt bt bt";
}
#opener #loader #tn {
  grid-area: tn;
  width: 7vmin;
  border-radius: 1vmin;
}
#opener #loader #p2 {
  grid-area: p2;
  font-size: small;
  color: rgb(59, 59, 59);
  width: 100%;
}
#opener #loader #dl {
  width: 2.5vmin;
  grid-area: dl;
}
#opener #loader #bt {
  grid-area: bt;
  width: 90%;
  height: 80%;
  margin-bottom: 2%;
  border: none;
  border-radius: 1vmin;
  background-color: orangered;
  color: #fff;
}
#opener #loader #bt:hover {
  background-color: rgb(247, 121, 75);
}

#contain {
  width: 85%;
  align-items: center;
  justify-content: space-evenly;
}
#contain #total-wrap {
  height: 60vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contain #total-wrap #cont-img {
  width: 95%;
  height: 60vh;
}
#contain #total-wrap #cont-img img {
  transition: 0.4s;
}
#contain #total-wrap #cont-img #newimg {
  width: 70%;
  margin: 0 5%;
}
#contain #cont-text {
  width: 50%;
  height: 50vmin;
  padding: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

#img-wrap {
  height: 12vmin;
  width: 90%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#img-wrap img {
  height: 100%;
  border-radius: 1vmin;
}
#img-wrap img:hover {
  filter: grayscale(1);
  cursor: pointer;
}

#cont-btn {
  width: 80%;
  height: 10%;
  justify-content: flex-start;
}
#cont-btn #counter {
  width: 30%;
  height: 100%;
  border-radius: 1.5vmin;
  justify-content: space-evenly;
  background-color: rgb(209, 217, 224);
  font-weight: 900;
  margin-right: 3%;
}
#cont-btn #counter span {
  text-decoration: none;
}
#cont-btn button {
  width: 50%;
  height: 100%;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 1.5vmin;
  font-weight: 800;
}
#cont-btn button img {
  margin: 0 5%;
  filter: brightness(9);
}
#cont-btn button:hover {
  background-color: rgb(247, 121, 75);
  cursor: pointer;
}

#gallery {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.785);
  position: absolute;
  display: none;
}
#gallery #imgwer {
  border: 1px solid white;
  width: 8vmin;
  position: absolute;
  top: 10vmin;
  left: 5vmin;
}
#gallery img {
  width: 70vmin;
  border-radius: 1vmin;
  position: relative;
  top: 25%;
  left: 30%;
}

@media screen and (max-width: 580px) {
  #header {
    justify-content: space-around;
  }
  #header #menu {
    display: block;
    width: 5vmin;
    margin-right: 5%;
  }
  #header #logo {
    width: 50%;
  }
  #header ul {
    display: none;
  }
  #header #img-con {
    width: 60%;
    height: 100%;
  }
  #header #img-con img {
    width: 7.5vmin;
  }
  #contain {
    flex-direction: column;
  }
  #contain #total-wrap {
    width: 100%;
  }
  #contain #total-wrap #cont-img {
    width: 95%;
  }
  #contain #total-wrap #cont-img #imgpre {
    position: relative;
    left: 10vmin;
    height: 6vmin;
    filter: invert(1);
  }
  #contain #total-wrap #cont-img #imgnext {
    position: relative;
    right: 10vmin;
    height: 6vmin;
    filter: invert(1);
  }
  #contain #total-wrap #cont-img #newimg {
    width: 100%;
  }
  #contain #total-wrap #img-wrap {
    width: 100%;
    height: 15%;
    justify-content: space-between;
  }
  #contain #cont-text {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-top: 5%;
  }
  #contain #cont-text h6, #contain #cont-text h1 {
    width: 95%;
    font-size: xx-large;
  }
  #contain #cont-text p {
    font-size: medium;
    text-align: justify;
  }
  #contain #cont-text #cont-btn {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
  }
  #contain #cont-text #cont-btn #counter {
    width: 99%;
    height: 45%;
    margin: 0;
  }
  #contain #cont-text #cont-btn button {
    width: 99%;
    height: 45%;
  }
  #opener {
    width: 90%;
    height: 30%;
    margin: 0;
  }
  #opener .p2 {
    font-size: larger;
  }
}
#menuBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  display: none;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}
#menuBox img {
  width: 15%;
  position: relative;
  top: 10vmin;
  left: 20vmin;
}
#menuBox ul {
  margin-top: 25%;
}
#menuBox ul li {
  list-style: none;
  border-bottom: 1px solid grey;
  font-size: 250%;
}
#menuBox ul li:hover {
  color: gray;
}/*# sourceMappingURL=index.css.map */