*{
    padding: 0;
    margin: 0;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //color: #cc0000;
  }
html{
    scroll-behavior: smooth;
}
body{
    @extend %centers;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

%centers{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    width: 85%;
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 15vmin;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    #menu{
        display: none;
    }
    #logo{
        font-size: xx-large;
        font-weight: 900;
        width: 20%;
        @extend %centers;
    }
    ul{
        width: 35%;
        
        display: inline-flex;
        justify-content: space-evenly;
        color: gray;
        li{
            list-style: none;
            cursor:pointer;

            
         }
        li:hover{
            color: black;
            text-decoration: underline 3px orangered;

        }
    }
    #img-con{
        width:50% ;
        @extend %centers;
        justify-content: flex-end;
        img{
            margin: 0 3%;
            cursor:pointer;
            width: 6%;

        }
        
    }
   
}

#opener{
    position: absolute;
    right: 5vmin;
    top: 16vmin;
    width: 30vmin;
    background-color: #fff;
    height: 25vmin;
    border-radius: 1vmin;
    z-index: 1;
    box-shadow: 1px 1px 19px 2px grey ;
    display: none;
    align-items: center;
    flex-direction: column;
    span{
        display: flex;
        height: 30%;
        justify-content: flex-start;
        width: 100%;
        padding-top: 7%;
        font-size: large;
        margin-left: 10% 
    }
    #loader{
        border-top: 0.5px solid grey;
        height: 100%;
        width: 100%;
        color: grey;
        display: none;
        place-items: center;
        #tn{
            grid-area: tn;
            width: 7vmin;
            border-radius: 1vmin;
        }
        
        #p2{
            grid-area: p2;
            font-size: small;
           color: rgb(59, 59, 59);
           width: 100%;
        }
        #dl{
            width: 2.5vmin;
            grid-area: dl;
        }
        #bt{
            grid-area: bt;
            width: 90%;
            height:80%;
            margin-bottom: 2%;
            border: none;
            border-radius: 1vmin;
            background-color: orangered;
            color: #fff;
        }
        #bt:hover{
            background-color: rgb(247, 121, 75);
        }
        grid-template-areas: " tn p2 dl"
                             " bt bt bt";

    }

}

#contain{
    @extend %centers;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
    #total-wrap{
        height: 60vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    #cont-img{
        width: 95%;
        height: 60vh;
        img{
            transition: 0.4s;
        }

        @extend %centers;
        #newimg{
            width: 70%;
            margin: 0 5%;
            
        }
    }
    }
    #cont-text{
        width: 50%;
        height: 50vmin;
        padding: 5%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
    }
}



#img-wrap{
    height: 12vmin;
    width: 90%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img{
        height: 100%;
        border-radius: 1vmin;
    }
    img:hover{
        filter:grayscale(1);
        cursor: pointer;
    }
}

#cont-btn{
    width: 80%;
    height: 10%;
    @extend %centers;
    
    justify-content: flex-start;
    #counter{
        width: 30%;
        height: 100%;
        border-radius: 1.5vmin;
        @extend %centers;
        justify-content: space-evenly;
        background-color:rgb(209, 217, 224);
        font-weight: 900;
        margin-right: 3%;
        span{
            text-decoration: none;
        }
    }

    button{
        width: 50%;
        height: 100%;
        background-color:orangered;
        color: white;
        border: none;
        border-radius: 1.5vmin;
        @extend %centers;
        font-weight:800;
        img{
            margin: 0 5%;
            
            filter: brightness(9);
        }
    }
    button:hover{
        background-color: rgb(247, 121, 75);
        cursor: pointer;
    }
}
#gallery{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.785);
    position: absolute;
    display: none;
   // place-items: center;
    
    #imgwer{
        border: 1px solid white;
        width: 8vmin;
        //filter: invert(1);
        position: absolute;
        top: 10vmin;
        left: 5vmin;
    }
    img{
        width: 70vmin;
        border-radius: 1vmin;
        position: relative;
        top: 25%;
        left: 30%;
    }
}

@media screen and (max-width: 580px) {
    body {
      
    }
    #header{
        justify-content: space-around;
        #menu{
            display: block;
            width: 5vmin;
            margin-right: 5%;
        }
        #logo{
            width: 50%;
        }
        ul{
            display: none;
        }
        #img-con{
            width: 60%;
            height: 100%;
            img{
                width: 7.5vmin;
            }
        }
    }
    #contain{
        flex-direction: column;
        #total-wrap{
            width: 100%;
            #cont-img{
                width: 95%;
                #imgpre{
                    position: relative;
                    left: 10vmin;
                    height: 6vmin;
                    filter: invert(1);
                }
                #imgnext{
                    position: relative;
                    right: 10vmin;
                    height: 6vmin;
                    filter: invert(1);
                }
                #newimg{
                    width: 100%;
                }
            }
            #img-wrap{
                width: 100%;
                height: 15%;
                justify-content: space-between;
                
            }
        }
        #cont-text{
            width: 100%;
            height: max-content;
            
            margin-top: 5%;
            h6,h1{
                width: 95%;
                font-size: xx-large;
            }
            p{
                font-size: medium;
                text-align: justify;
            }
            #cont-btn{
                width: 100%;
                height: 15vh;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                justify-content: space-between;
                #counter{
                    width: 99%;
                    height: 45%;
                    margin: 0;
                }
                button{
                    width: 99%;
                    height: 45%;
                }
            }
        }
    }
    #opener{
        width: 90%;
        height: 30%;
        margin: 0;
        .p2{
            font-size: larger;
        }
    }
   
  }

  #menuBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    display: none;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    img{
        width: 15%;
        position: relative;
        top: 10vmin;
        left: 20vmin;
    }
    ul{
        margin-top: 25%;
        li{
            list-style: none;
            border-bottom: 1px solid grey;
            font-size: 250%;

        }
        li:hover{
            color: gray;
        }
    }

  }