*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    @extend %centers;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

%centers{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    
    width: 85%;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding-bottom: 0vmin;
    height: 25vmin;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    #logo{
        font-size: xx-large;
        font-weight: 900;
        width: 20%;
        @extend %centers;
    }
    ul{
        width: 35%;
        
        display: inline-flex;
        justify-content: space-evenly;
        color: gray;
        li{
            list-style: none;
            cursor:pointer;

            
         }
        li:hover{
            color: black;
            text-decoration: underline 3px orangered;

        }
    }
    #img-con{
        width:50% ;
        @extend %centers;
        justify-content: flex-end;
        img{
            margin: 0 3%;
            cursor:pointer;

        }
        
    }
   
}

#opener{
    position: absolute;
    right: 15vmin;
    top: 18vmin;
    width: 28vmin;
    height: 25vmin;
    border-radius: 1vmin;
    z-index: 1;
    box-shadow: 1px 1px 19px 2px grey ;
    display: none;
    align-items: center;
    flex-direction: column;
    span{
        display: flex;
        height: 30%;
        justify-content: flex-start;
        width: 100%;
        padding-top: 7%;
        margin-left: 10% 
    }
    #loader{
        height: 40%;
        @extend %centers;
        color: grey
    }

}

#contain{
    @extend %centers;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
    #cont-img{
        width: 60%;

        @extend %centers;
        #newimg{
            width: 70%;
            margin: 0 5%;

        }
    }
    #cont-text{
        width: 50%;
        height: 50vmin;
        padding: 5%;
        display: flex;
        align-items: flex-start;
        
        flex-direction: column;
    }
}

#cont-btn{
    width: 80%;
    height: 10%;
    @extend %centers;
    
    justify-content: flex-start;
    #counter{
        width: 30%;
        height: 100%;
        border-radius: 1.5vmin;
        @extend %centers;
        justify-content: space-evenly;
        background-color:rgb(209, 217, 224);
        font-weight: 900;
        margin-right: 3%;
        span{
            text-decoration: none;
        }
    }

    button{
        width: 50%;
        height: 100%;
        background-color:orangered;
        color: white;
        border: none;
        border-radius: 1.5vmin;
        @extend %centers;
        font-weight:800;
        img{
            margin: 0 5%;
            
            filter: brightness(9);
        }
    }
}